name: Deploy Sandbox

on:
  release:
    types: [published]

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: startsWith(github.event.release.tag_name, 'sandbox@')
    steps:
      - uses: actions/checkout@v4

      - name: Deploy to Vercel
        uses: amondnet/vercel-action@v25
        with:
          vercel-token: ${{ secrets.VERCEL_TOKEN }}
          vercel-org-id: ${{ secrets.VERCEL_ORG_ID }}
          vercel-project-id: ${{ secrets.VERCEL_SANDBOX_PROJECT_ID }}
          vercel-args: '--prod'
          working-directory: ./apps/sandbox
