name: Deploy Website

on:
  release:
    types: [published]

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: startsWith(github.event.release.tag_name, 'website@')
    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4
        with: { version: 10 }

      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install and Build
        run: |
          pnpm install --filter @native-ui-org/website... --ignore-scripts
          pnpm --filter @native-ui-org/primitives build
          pnpm --filter @native-ui-org/website sync-docs
          pnpm --filter @native-ui-org/website build

      - name: Deploy to Vercel
        uses: amondnet/vercel-action@v25
        with:
          vercel-token: ${{ secrets.VERCEL_TOKEN }}
          vercel-org-id: ${{ secrets.VERCEL_ORG_ID }}
          vercel-project-id: ${{ secrets.VERCEL_WEBSITE_PROJECT_ID }}
          vercel-args: '--prod --prebuilt'
          working-directory: ./apps/website
